/* reduce callout padding */
.callout-content {
    --p-spacing: 0.5rem;
}
.callout-title {
    padding-bottom: 5px;
}

body {
    --p-spacing: 0.5rem;
    --heading-spacing: 1.5rem;
}

/* Stop footnotes affecting line height */
sup { 
    vertical-align: top; 
    position: relative; 
    top: -0.3em; 
    font-size: 0.75em; 
}